<div class="card" style="width: 18rem;">
  {% if instance.product_image %}
    <img src="{{ instance.product_image.url }}" alt="{{ instance.title }}" class="img-responsive"">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <p class="card-text">{{ instance.description }}</p>
    <p class="card-text">Price : $ {{ instance.price }}</p>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
    {% include "products/snippets/update-cart.html" with product=instance cart=cart_obj %}
  </div>
</div>
