<form class="product-ajax" method="POST" class="form" action="{% url "cart:cart-update" %}" data-endpoint="{% url "cart:cart-update" %}">
{% csrf_token %}
<input type="hidden" name="product_id" value="{{ product.id }}">
    <span class="submit-span">
        {% if product in cart_obj.product.all %}
            <button class="btn btn-danger" type="submit">Remove</button>
        {% else %}
            <button class="btn btn-success" type="submit">Add to Cart</button>
        {% endif %}
    </span>
</form>